*:not(.glyphicon){
    font-family: 'Ubuntu', sans-serif !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  text-align: center;
/*  background-color: #073642;
  color: #839496;*/
}

.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
 -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
 filter: FlipH;
 -ms-filter: "FlipH";
}